.header {
  background: white;
  padding: 15px 20px 15px 0px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.05);
  position: sticky;
  top: 0;
  z-index: 100;
}

.header-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

/* Logo */
.logo a {
  text-decoration: none;
  font-size: 1.8rem;
  font-weight: bold;
  color: #ff7e5f;

  display: flex;
  flex-direction: row;
  align-items: center;
  text-align: center;

  img {
    width: 80px;
    background-repeat: no-repeat;
    background-size: cover;
  }
}
/* Navigation */
.nav ul {
  display: flex;
  list-style: none;
  gap: 25px;
}

.nav ul li a {
  text-decoration: none;
  font-size: 1rem;
  color: #333;
  transition: color 0.3s;
}

.nav ul li a:hover {
  color: #ff7e5f;
}

/* CTA Button */
.cta-btn {
  display: flex;
  flex-direction: row;
  gap: 8px;
  align-items: center;
  background: #ff7e5f;
  color: white;
  padding: 8px 16px;
  border-radius: 5px;
  text-decoration: none;
  font-weight: bold;
  transition: background 0.3s;
}

.cta-btn:hover {
  background: #e96a4f;
}

.cta-user-logo {
  display: block;
  width: 20px;
  height: 20px;
}

.profile {
  position: relative;
  cursor: pointer;
}

.profile-list {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 8px;
  padding: 10px;

  div {
    display: flex;
    align-items: center;
  }
}
